$fa-font-path: "../bower_components/font-awesome/fonts";
$raleway-font-path: "../bower_components/fonts-raleway/fonts/fonts-raleway";
@import '../bower_components/font-awesome/scss/font-awesome';
@import '../bower_components/fonts-raleway/scss/raleway';
@import '../assets/scss-lib/_variables';
@import '../assets/scss-lib/_mixins';
@import '../assets/scss-lib/_layout';
@import '../assets/scss-lib/_typography';

//default body styling, font and color, and font size
body {
  font-family: 'Raleway', 'Arial';
  color: $main-color;
  font-size: $global-font-size;
}

@media (min-width: $tablet-width - 1) and (max-width: $max-width) {
  body {
      font-size: $global-tablet-font-size;
  }
}

@media (min-width: $mobile-width) and (max-width: $tablet-width - 1) {
  body {
      font-size: $global-mobile-font-size;
  }
}

//end default body styling, font and color, and font size

div, button {
  outline-style:none;
}

.fade-out {
  opacity: 0;
  height: 0;
}

.fade-in {
  height: auto;
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}


/* when it moves in */
.slide-in.ng-hide-remove {
  -webkit-animation:0.5s slideInLeft;
  animation:0.5s slideInLeft;
}

.left {
  float: left;
}

.right {
  float: right;
}


// Component styles are injected through grunt
/* inject:scss */
@import 'main/main';
@import '../components/results/results';
@import '../components/search/search';
/* endinject */
